@import '_colors.scss';

@font-face {
  font-family: FTY;
  src: url('FTY-Strategycide.otf');
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

:root {
  font-family: FTY;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4d5c70;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#navigation {
  padding: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  background-color: #88a5cb;
  box-shadow: 0.5em 0.5em 1.5em #404f66;
}

.links .textLinks {
  position: relative;
  margin-left: 3em;
  margin-right: 3em;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  margin-top: 0.3em;
  text-shadow: 0.1em 0.1em #5B6B82;
  transition: all .2s ease-in-out;
}

.links .textLinks::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  box-shadow: 0.1em 0.1em #5B6B82;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.links .textLinks:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.links {
  display: flex;
  justify-content: center;
}

#logo {
  width: 16em;
  margin-left: 3em;
  margin-right: 3em;
}

/* Style the main banner */
.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

#bannerImage {
  width: 60%;
  filter: drop-shadow(0.6em 0.6em 0.3em #404f66);
}

#mainBanner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #note {
    position: absolute;
    color: white;
    font-size: 0.8em;
    bottom: 2.5%;
  }
}

#downloadButtons {
  position: absolute;
  width: 15%;
  top: 77%;
  left: 34%;
  width: 32%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#windowsDownload {
  width: 100%;
  filter: drop-shadow(0.3em 0.3em 0.1em #6F7BA1);
  transition: all .2s ease-in-out;
}

#windowsDownload:hover {
  transform: scale(1.1);
}

#macDownload {
  width: 100%;
  filter: drop-shadow(0.3em 0.3em 0.1em #6F7BA1);
  transition: all .2s ease-in-out;
}

#macDownload:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 840px) {
  #navigation {
    display: none;
  }
}

/* Banner media queries */
@media only screen and (max-width: 1300px) {
  #bannerImage {
    width: 70%;
  }
}

@media only screen and (max-width: 1130px) {
  .contents {
    margin-top: 14%;
  }
}